In [1]:
import sys
sys.path.append('../scripts')

In [11]:
import pandas as pd
from data_preprocessing import handle_missing_values, remove_duplicates, correct_data_types, map_ip_to_country, create_transaction_frequency, create_time_features, normalize_and_scale

In [4]:
# Load datasets
fraud_data = pd.read_csv('../data/Fraud_Data.csv')
ip_data = pd.read_csv('../data/IpAddress_to_Country.csv')

In [5]:
# Data Cleaning
fraud_data = handle_missing_values(fraud_data)
fraud_data = remove_duplicates(fraud_data)
fraud_data = correct_data_types(fraud_data)

In [6]:
# IP Address to Country Mapping
fraud_data = map_ip_to_country(fraud_data, ip_data)

In [7]:
# Feature Engineering
fraud_data = create_transaction_frequency(fraud_data)
fraud_data = create_time_features(fraud_data)

In [8]:
# Normalization and Scaling
fraud_data = normalize_and_scale(fraud_data)

In [9]:
# Exploratory Data Analysis (EDA)
print(fraud_data.describe())
print(fraud_data.info())

             user_id                    signup_time  \
count  151112.000000                         151112
mean   200171.040970  2015-04-20 00:56:09.511329280
min         2.000000            2015-01-01 00:00:42
25%    100642.500000     2015-02-18 09:52:48.500000
50%    199958.000000            2015-04-19 04:41:30
75%    300054.000000  2015-06-18 14:47:22.750000128
max    400000.000000            2015-08-18 04:40:29
std    115369.285024                            NaN

                       purchase_time  purchase_value         source  \
count                         151112    1.511120e+05  151112.000000
mean   2015-06-16 02:56:38.759952896    4.006184e-17       1.004857
min              2015-01-01 00:00:44   -1.524632e+00       0.000000
25%       2015-04-18 14:41:25.500000   -8.151294e-01       0.000000
50%       2015-06-18 13:46:17.500000   -1.056270e-01       1.000000
75%       2015-08-17 18:48:31.500000    6.584524e-01       2.000000
max              2015-12-16 02:56:05    6.389048e+00       2.000000
std                              NaN    1.000003e+00       0.892960

             browser            sex            age    ip_address  \
count  151112.000000  151112.000000  151112.000000  1.511120e+05
mean        1.374874       0.584288      33.140704  2.152145e+09
min         0.000000       0.000000      18.000000  5.209300e+04
25%         0.000000       0.000000      27.000000  1.085934e+09
50%         1.000000       1.000000      33.000000  2.154770e+09
75%         2.000000       1.000000      39.000000  3.243258e+09
max         4.000000       1.000000      76.000000  4.294850e+09
std         1.440658       0.492846       8.617733  1.248497e+09

               class  transaction_count     time_diff  transaction_velocity  \
count  151112.000000           151112.0  1.511120e+05          1.511120e+05
mean        0.093646                1.0  4.932029e+06          4.685636e-17
min         0.000000                1.0  1.000000e+00         -2.049384e-01
25%         0.000000                1.0  2.186754e+06         -2.049380e-01
50%         0.000000                1.0  4.926346e+06         -2.049377e-01
75%         0.000000                1.0  7.644524e+06         -2.049367e-01
max         1.000000                1.0  1.036797e+07          1.082078e+01
std         0.291336                0.0  3.126263e+06          1.000003e+00

         hour_of_day    day_of_week
count  151112.000000  151112.000000
mean       11.521593       3.011819
min         0.000000       0.000000
25%         6.000000       1.000000
50%        12.000000       3.000000
75%        17.000000       5.000000
max        23.000000       6.000000
std         6.912474       2.006203
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               151112 non-null  int64
 1   signup_time           151112 non-null  datetime64[ns]
 2   purchase_time         151112 non-null  datetime64[ns]
 3   purchase_value        151112 non-null  float64
 4   device_id             151112 non-null  object
 5   source                151112 non-null  int64
 6   browser               151112 non-null  int64
 7   sex                   151112 non-null  int64
 8   age                   151112 non-null  int64
 9   ip_address            151112 non-null  int64
 10  class                 151112 non-null  int64
 11  country               151112 non-null  object
 12  transaction_count     151112 non-null  int64
 13  time_diff             151112 non-null  float64
 14  transaction_velocity  151112 non-null  float64
 15  hour_of_day           151112 non-null  int32
 16  day_of_week           151112 non-null  int32
dtypes: datetime64[ns](2), float64(3), int32(2), int64(8), object(2)
memory usage: 18.4+ MB
None

In [10]:
fraud_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,country,transaction_count,time_diff,transaction_velocity,hour_of_day,day_of_week
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,-0.160204,QVPSPJUOCKZAR,2,0,1,39,732758368,0,Japan,1,4506682.0,-0.204938,2,5
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,-1.142592,EOGFQPIZPYXFZ,0,0,0,53,350311387,0,United States,1,17944.0,-0.204840,1,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,-1.197169,YSSKYOSJHPPLJ,2,3,1,53,2621473820,1,United States,1,1.0,1.448919,18,3
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,0.385567,ATGTXKYKUDUQN,2,4,1,41,3840542443,0,Unknown,1,492085.0,-0.204929,13,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,0.112681,NAUITBZFJKHWW,0,4,1,45,415583117,0,United States,1,4361461.0,-0.204938,18,2